# Build results
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]in/
[Oo]bj/
msvc/

# Doxygen output folder
[Dd]oc/

# Mac temporary files
.DS_Store

# Vim temporary files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# ipython notebook
**/.ipynb_checkpoints/

# rubymine project files
.idea/
scratch/